<!--=============================================
Create <aside> HTML element 
  and all tags needed (Ex.: </h1>,</img>,</div>,</p>, etc..))
=============================================-->

<aside class="banner">
  <h1>Product name</h1>
  <img src="https://i.pinimg.com/originals/97/6e/c4/976ec4f38121bec2209f6e12ff776547.png" />
  <div class="container">
    
    <div class="body">
      <p>Product description</p>
      <a target="_blank" href="" class="button">"Button text"</a>
    </div>
  </div>
</aside>


